
.loveCity{

    display: flex;
    font-size: 1.5rem;
    max-width: 100%;
    flex-direction: column;
   align-content: center;
    

.ratingLabel {
   display: flex;
   justify-content: center;
}

.ratingValue {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;

}

}