@use "../../../styles/variables.scss" as v;
.airCare{
 width: 100%;
    h2{
        font-size: 56px;
        color: v.$blue-color;
        text-align: center;
    }
    .cardsAirCare{
        width: 100%;
        display: flex;        
        justify-content: center;
        gap: 2em;
        .singleCard{
            width: 18%;
            padding: 1.2em;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            justify-content: center;
            p{
                text-align: justify;
                color: v.$gray-dark-color;
            }
            h4{
                font-size: 20px;
                margin-bottom: 0;
                color: v.$orange-color;
            }
            .iconCard{
                width: 10em;
                height: 10em;
                border-radius: 50%;
                background-color: v.$blue-color;
                margin-bottom: 1em;
                display: flex;
                justify-content: center;
                align-items: center;
                svg{
                    color: #fafafa;
                    font-size: 90px;
                }
            }
        }
    }
}